<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!---原来的写法-->
  <!--  <bean id="Dog" class="com.springBootLearning.bean.Dog">
      <property name="id" value="1"></property>
        <property name="name" value="小王"></property>
    </bean>-->

    <bean id="cat" class="com.springBootLearning.bean.Cat">
        <property name="id" value="1"></property>
        <property name="name" value="Tom"></property>
    </bean>
</beans>